#
# Config parameters
#

RSYNC_EXE="/usr/local/bin/rsync"
RSYNC_OPTS=(
    "--archive"
    "--verbose"
    "--compress"
    "--whole-file"
    "--quiet"
    "--stats"
    "--delete-excluded"
    "--human-readable"
    "--rsh=ssh"
)
RSYNC_INCLUDE_FILE="${HOME}/.config/arbackup/rsync.include"
RSYNC_EXCLUDE_FILE="${HOME}/.config/arbackup/rsync.exclude"
RSYNC_LOG_FILE="${HOME}/.config/arbackup/rsync.log"

SOURCE_DIR="${HOME}"
TARGET_DIR="andrea@wamba:/Volumes/Geberico/Backup/Alboino"

WIFI_NETWORK="Kibana"
STATE_FILE="${HOME}/.config/arbackup/arbackup.state"
BACKUP_FREQUENCY=$(( 24 * 60 * 60 - 30 * 60 )) # 24 hours minus 30 minutes in seconds


